{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Password reset</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/49b5438e0f.js" crossorigin="anonymous"></script>
    <link href="{% static 'css/forms.css' %}" rel="stylesheet">
</head>

{% block content %}
    <header>
        <div class="header-text">
            <h1>Forgot password?</h1>
        </div>
    </header>

    <form action="." method="post">
        {% csrf_token %}
        <div class="form-container">
            <div class="form-div">
                {{ form.as_p }}
            </div>
        <p><input type="submit" value="Send e-mail" class="submit-button"></p>
        </div>
    </form>
{% endblock %}