{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>password reset</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/49b5438e0f.js" crossorigin="anonymous"></script>
    <link href="{% static 'css/forms.css' %}" rel="stylesheet">
</head>

{% block content %}
    <p>Password has been changed. You can <a href="{% url 'login' %}">log in here</a></p>
{% endblock %}