{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Password reset</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/49b5438e0f.js" crossorigin="anonymous"></script>
    <link href="{% static 'css/forms.css' %}" rel="stylesheet">
</head>

{% block content %}
    {% if validlink %}
        <form action="." method="post">
            {% csrf_token %}
            <div class="form-container">
                <div class="form-div">
                    {{ form.as_p }}
                </div>
            <p><input type="submit" value="Zmień hasło" class="submit-button"></p>
            </div>
        </form>
    {% else %}
        <p>Something went wrong, try again</p>
    {% endif %}
{% endblock %}