{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/user_activity.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
{% endblock %}
{% block text %}
    Created posts
{% endblock %}
{% block content %}
    <div class="user-links">
        <a href="{% url 'posts:user_posts' %}">
            <div class="user-link">
                Posts
                <i class="far fa-clipboard"></i>
            </div>
        </a>
        <a href="{% url 'posts:user_comments' %}">
            <div class="user-link">
                Comments
                <i class="far fa-comment"></i>
            </div>
        </a>
        <a href="{% url 'posts:user_likes' %}">
            <div class="user-link">
                Likes
                <i class="far fa-heart"></i>
            </div>
        </a>
        <a href="{% url 'posts:user_follows' %}">
            <div class="user-link">
                Follows
                <i class="fas fa-user-friends"></i>
            </div>
        </a>
    </div>

    <div class="post-list">
        {% for post in posts %}
            <div class="post-card">
                <div class="topbar">
                <a href="{{ post.user.get_absolute_url }}" class="profile-link">
                    <div class="link">
                        <div class="profile-picture">
                            <img src="{{ post.user.profile.profile_picture.url }}">
                        </div>
                        <span>{{ post.user }}</span>
                    </div>
                </a>
                     {% if request.user == post.user %}
                    <span class="delete-post">
                        <a href="#" onClick="document.getElementById('delete-form-{{ post.id }}').submit()">
                            <i class="far fa-trash-alt"></i>
                            <form method="post" action="{% url 'posts:delete_post' post.id %}" id="delete-form-{{ post.id }}">
                                {% csrf_token %}
                                <input type="hidden">
                            </form>
                        </a>
                    </span>
                {% endif %}
                </div>
                <p class="text">{{ post.text }}</p>
                <div class="under-text">
                     <span>
                            <a  data-id="{{ post.id }}"
                                data-action="{% if post in request.user.posts_liked.all %}un{% endif %}like"
                                class="like button" id="like-button-{{ post.id }}">

                                <i class="far fa-heart {% if request.user in post.users_like.all %}liked{% endif %}"
                                   id="like-icon-{{ post.id }}"></i>

                                <span class="count-total" id="like-count-{{ post.id }}">{{ post.users_like.all.count }}</span>
                            </a>
                        </span>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="{% url 'posts:post_detail' post.slug %}" class="comment">
                        <span><i class="far fa-comment"></i></span>
                        <span class="count-total">{{ post.comments.all.count }}</span>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block extra_js %}
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2.2.1/src/js.cookie.min.js"></script>
    <script>

        {% for post in posts %}

        document.querySelector('#like-button-{{ post.id }}').addEventListener('click', function sendPost(){
            let likeIcon = document.querySelector('#like-icon-{{ post.id }}')
            let totalLikes = document.querySelector('#like-count-{{ post.id }}')
            fetch({% url "posts:like" %}, {
                method: "POST",
                credentials: "same-origin",
                headers: {
                    "X-Requested-With": "XMLHttpRequest",
                    "X-CSRFToken": Cookies.get('csrftoken'),
                },
                body: JSON.stringify({id: this.dataset.id, action: this.dataset.action })
            })
            .then(response => response.json())
            .then(data => {
                likeIcon.classList.toggle('liked')

                if(String(data['status']) === 'liked'){
                    totalLikes.textContent = parseInt(totalLikes.textContent) + 1
                    if (this.dataset.action === 'like'){
                        this.dataset.action = 'unlike'
                    }
                } else{
                    totalLikes.textContent = parseInt(totalLikes.textContent) - 1
                    if (this.dataset.action === 'unlike'){
                        this.dataset.action = 'like'
                    }
                }
            return false
            })
        })
        {% endfor %}
    </script>
{% endblock %}